:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.navlinks {
  width: 100%;
  padding: 15px 5px;
}

.navlinks li {
  list-style: none;
  display: block;
}

.navlinks li:not(:last-child) {
  margin-bottom: 4px;
}

.navlinks li a {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  padding: 10px 0 10px 20px;
  color: #a4acc4;
  transition: all 0.4s ease-out;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.navlinks li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  width: 0;
  background: rgba(24, 144, 255, 0.2);
  visibility: hidden;
  transition: all 0.4s ease-out;
  z-index: -1;
}

.navlinks li a:hover {
  color: #1890ff;
}

.navlinks li a:hover::before {
  width: 100%;
  visibility: visible;
}

.navlinks li a.active {
  color: #ffffff;
}

.navlinks li a.active::before {
  background: #1890ff;
  width: 100%;
  visibility: visible;
}

h3 {
  color: white;
}
